<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
	<style>
		*{
			padding: 0;
			margin: 0;
		}
		.container{
			padding: 30px 10px;
		}
		.item{
			font-size: 20px;
		}
	</style>
</head>
<body>
<div class="container" id="app">
	<div class="columns is-mobile">
		<div class="column is-3">
			<form-input name="Cột 1" v-model.lazy="cols.col1" :key="`number1`+key"></form-input>
			<form-input name="Cột 2" v-model="cols.col2" :key="`number2`+key"></form-input>
		</div>
		<div class="column is-3">
			<form-input name="Cột 3" v-model="cols.col3" :key="`number3`+key"></form-input>
			<form-input name="Cột 4" v-model="cols.col4" :key="`number4`+key"></form-input>
		</div>
		<div class="column is-3">
			<form-input name="Cột 5" v-model="cols.col5" :key="`number5`+key"></form-input>
			<div class="field is-horizontal">
				<div class="field-label is-normal mr-5">
					<label class="label" style="width: 70px">Tổng số:</label>
				</div>
				<div class="field-body">
					<div class="field">
						<p class="control">
							<input class="input" type="number" :value="total" width="60px" readonly disabled/>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="columns is-mobile" style="padding-left:12px;">
		<button class="button is-primary mr-3" :disabled="invalidButton" @click="randomNumber">Random</button>
		<button class="button is-warning" @click="clearForm">Clear</button>
	</div>
	<div class="columns" v-if="number1.length > 0">
		<div class="column">
			<div class="card text-center" style="text-align:center;padding: 10px 0">
				<h3 class="text-center"><strong>Cột 1</strong></h3>
				<div class="card-content">
					<div v-for="item of number1" class="item">{{ item }}</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card text-center" style="text-align:center;padding: 10px 0">
				<h3 class="text-center"><strong>Cột 2</strong></h3>
				<div class="card-content">
					<div v-for="item of number2" class="item">{{ item }}</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card text-center" style="text-align:center;padding: 10px 0">
				<h3 class="text-center"><strong>Cột 3</strong></h3>
				<div class="card-content">
					<div v-for="item of number3" class="item">{{ item }}</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card text-center" style="text-align:center;padding: 10px 0">
				<h3 class="text-center"><strong>Cột 4</strong></h3>
				<div class="card-content">
					<div v-for="item of number4" class="item">{{ item }}</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card text-center" style="text-align:center;padding: 10px 0">
				<h3 class="text-center"><strong>Cột 5</strong></h3>
				<div class="card-content">
					<div v-for="item of number5" class="item">{{ item }}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/x-template" id="basic-input">
	<div class="field is-horizontal">
		<div class="field-label is-normal mr-5">
			<label class="label" style="width: 70px">{{ name }}</label>
		</div>
		<div class="field-body">
			<div class="field">
				<p class="control">
					<input class="input" type="number" @blur="handleInput" :value="content" width="60px"/>
				</p>
			</div>
		</div>
	</div>
</script>
<script>
	Vue.component('form-input',{
		template: `#basic-input`,
		props: ['name', 'value'],
		data(){
			return {
				content: this.value
			}
		},
		methods:{
			handleInput(e){
				this.content= e.target.value;
				this.$emit('input', this.content)
			}
		}
	})
</script>

<script>
	new Vue({
		data(){
			return {
				msg: 34,
				total: 100,
				arrNumber: [],
				cols:{
					col1: null,
					col2: null,
					col3: null,
					col4: null,
					col5: null,
				},
				number1: [],
				number2: [],
				number3: [],
				number4: [],
				number5: [],
				key:1,
			}
		},
		created(){
		},
		watch: {
			cols: {
				handler({ col1, col2, col3, col4, col5}){
					this.total = 100 - (Number(col1) + Number(col2) + Number(col3) +Number(col4) + Number(col5))
				},
				deep: true
			}
		},computed:{
			invalidButton(){
				const { col1, col2, col3, col4, col5 } = this.cols;
				if(!col1 || !col2 || !col3 || !col4 || !col5){
					return true;
				}
				return this.total !== 0;
				
			}
		},
		methods: {
			randomNumber(){
				
				let idx =1;
				const arr =  Array.from({length: 100}, (v, i) => {
					if(i >=0 && i<10){
						return '0'+i;
					}
					return i;
				});
				for (const [key, value] of Object.entries(this.cols)) {
					this[`number${idx}`] = []
					for(let i = 0; i< Number(value); i++){
						let index = this.getRandomInt(0,99);
						while (arr[index] === undefined){
							index = this.getRandomInt(0,99);
						}
						const data = arr[index];
						arr.splice(index,1);
						this[`number${idx}`] = [...this[`number${idx}`], data]
					}
					idx++;
				}
				
			},
			getRandomInt(min, max){
				min = Math.ceil(min);
				max = Math.floor(max);
				return Math.floor(Math.random() * (max - min + 1)) + min;
			},
			clearForm(){
				this.total = 100;
				this.$set(this.cols, 'col1', null);
				this.$set(this.cols, 'col2', null);
				this.$set(this.cols, 'col3', null);
				this.$set(this.cols, 'col4', null);
				this.$set(this.cols, 'col5', null);
				this.key ++;
				
				this.number1 = [];
				this.number2 = [];
				this.number3 = [];
				this.number4 = [];
				this.number5 = [];
			}
		}
	}).$mount('#app');
</script>
</body>
</html>
